In [1]:
import pandas as pd

df = pd.read_csv('BD/OnlineRetail_Preprocesada2.csv', sep=',', encoding = 'unicode_escape')

df.head()

,Unnamed: 0,InvoiceNo,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,1,536365,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,2,536365,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [2]:
print(len(df))

392732

In [3]:
# este paso lo agrego porque el dataset preproceados tiene una primera columna que es considerada en el ejercicio
df.drop("Unnamed: 0", inplace=True, axis= 1)

df.head()

,InvoiceNo,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
print(len(df))

392732

In [24]:
# Cada una de las filas representa una factura y cada una de las columnas un producto. Esto se consigue utilizando el siguiente c√≥digo
basket = (df[df['Country']=="Spain"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

basket.drop('POSTAGE', inplace=True, axis=1)

In [25]:
basket.head()

Description,50'S CHRISTMAS GIFT BAG LARGE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,10 COLOUR SPACEBOY PEN,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,20 DOLLY PEGS RETROSPOT,200 RED + WHITE BENDY STRAWS,...,WRAP RED APPLES,WRAP RED VINTAGE DOILY,WRAP SUKI AND FRIENDS,"WRAP, BILLBOARD FONTS DESIGN",YELLOW COAT RACK PARIS FASHION,YELLOW FLOWERS FELT HANDBAG KIT,ZINC FOLKART SLEIGH BELLS,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
538095,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
538525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
539351,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
540469,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0

In [26]:
print(len(basket))

90

In [27]:
#Se utiliza funci√≥n `apriori` para obtener los productos con un m√≠nimo de soporte.

from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(basket > 0, min_support=0.06, use_colnames=True)
frequent_itemsets.head()

    support                       itemsets
0  0.066667  (4 TRADITIONAL SPINNING TOPS)
1  0.166667       (6 RIBBONS RUSTIC CHARM)
2  0.077778   (ALARM CLOCK BAKELIKE GREEN)
3  0.066667    (ALARM CLOCK BAKELIKE PINK)
4  0.066667    (ALARM CLOCK BAKELIKE RED )

In [28]:
print(len(frequent_itemsets))

72

In [29]:
# se pueden obtener las reglas que superen adem√°s un m√≠nimo de confianza
from mlxtend.frequent_patterns import association_rules

reglas_minimo_confianza = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)
reglas_minimo_confianza.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(RED RETROSPOT TAPE),(6 RIBBONS RUSTIC CHARM),0.077778,0.166667,0.066667,0.857143,5.142857,0.053704,5.833333
1,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER ),0.066667,0.122222,0.066667,1.000000,8.181818,0.058519,inf
2,(SET/5 RED RETROSPOT LID GLASS BOWLS),(JAM MAKING SET WITH JARS),0.066667,0.155556,0.066667,1.000000,6.428571,0.056296,inf
3,(PLASTERS IN TIN CIRCUS PARADE ),(PLASTERS IN TIN SKULLS),0.077778,0.111111,0.066667,0.857143,7.714286,0.058025,6.222222
4,(POPPY'S PLAYHOUSE BEDROOM ),(POPPY'S PLAYHOUSE KITCHEN),0.088889,0.077778,0.077778,0.875000,11.250000,0.070864,7.377778

In [30]:
print(len(reglas_minimo_confianza))

10

In [31]:
# tambi√©n desde el dataset generado con apriori se puede obtener reglas con un m√≠nimo de soporte

reglas_minimo_soporte = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
reglas_minimo_confianza.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(RED RETROSPOT TAPE),(6 RIBBONS RUSTIC CHARM),0.077778,0.166667,0.066667,0.857143,5.142857,0.053704,5.833333
1,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER ),0.066667,0.122222,0.066667,1.000000,8.181818,0.058519,inf
2,(SET/5 RED RETROSPOT LID GLASS BOWLS),(JAM MAKING SET WITH JARS),0.066667,0.155556,0.066667,1.000000,6.428571,0.056296,inf
3,(PLASTERS IN TIN CIRCUS PARADE ),(PLASTERS IN TIN SKULLS),0.077778,0.111111,0.066667,0.857143,7.714286,0.058025,6.222222
4,(POPPY'S PLAYHOUSE BEDROOM ),(POPPY'S PLAYHOUSE KITCHEN),0.088889,0.077778,0.077778,0.875000,11.250000,0.070864,7.377778

In [32]:
print(len(reglas_minimo_confianza))

10

In [ ]:
#OJO con Espa√±a: Los resultados que se han obtenido dicen cosas interesantes. Analizando la primera regla se puede observar 
#que los clientes que han comprado "6 RIBBONS RUSTIC CHARM" tambi√©n aparece "ASSORTED COLOUR BIRD ORNAMENT" 
#con un soporte de 0,085 y una confianza de 0,6. Esto indica que en el 8,5% de las transacciones contienen 
#ambas referencias. Adem√°s, la confianza indica que en el 60% de los casos que se compra "6 RIBBONS RUSTIC CHARM" 
#tambi√©n aparece "ASSORTED COLOUR BIRD ORNAMENT". La mejora de la confianza de 5,25 indica que cuando aparece 
#‚Äú6 RIBBONS RUSTIC CHARM‚Äù aparece la otra referencia cinco veces m√°s de lo que se podr√≠a esperar por azar.